################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SU-Casino/v15/Server/sqlite3
/.vs/SU-Casino/v15
