body { font-family: sans-serif; }


.cardSpan {
    float: left;
    max-width: 150px;
    /*margin: 20px;*/
}

.scene {
    width: 100%;
    /*height: 260px;*/
    margin: 40px 0;
    perspective: 600px;
}

.betCard {
    perspective: 1000;
    width: 100%;
    height: 100%;
    max-width: 150px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    /* -webkit-transform: translateZ(-1px);*/
}

    .betCard.is-flipped {
        transform: rotateY(0deg);
    }

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*line-height: 260px;*/
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.card__face--front {
    background: transparent;
    transform: rotateY(0deg);
}

.card__face--back {
  background: transparent;
  transform: rotateY(-180deg);
}

.betCard.is-flipped > .card__face--front {
    transform: rotateY(180deg);
}

.betCard.is-flipped > .card__face--back {
    transform: rotateY(0deg);
}


.img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    box-shadow: 4px 5px 3px 0px rgba(0, 0, 0, 0.3);
}


.notEqual {
    padding-top: 180px;
    font-size: 100px;
}

@media (min-width: 1600px) {
    .playground {
        height: 700px;
        padding-top: 200px;
    }
}

@media (max-width: 1599px) {
    .playground {
        height: 400px;
        padding-top: 10px;
    }
}

    @media (max-width: 767px) {
        .playground {
            height: 400px;
            padding-top: 10px;
        }

        .cardSpan {
            padding-right: 5px;
            padding-left: 5px;
            max-width: 100px;
        }
        #play-container {
            height: 310px;
        }
    }

    @media (max-width: 510px) {
        .playground-cards {
            height: 200px !important;
        }
    }





