.scene {
    width: 100%;
    height: 130px;
    margin:2px 0;
}

.cardSpan {
    max-width: 110px;
}

#play-container {
    height: 500px;
}
.playground-cards {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.div-center {
    margin-top: inherit;
}


@media (max-width: 767px) {
    #play-container {
        height: 500px;
    }
    .cardSpan {
        max-width: 90px;
    }
    .scene {
        width: 100%;
        height: 107px;
        margin: 1px 0;
    }
}

@media (max-width: 320px){
    #play-container {
        height: 500px;
    }
}
