body { font-family: sans-serif; }


.cardSpan {
    float: left;
    max-width: 150px;
    /*margin: 20px;*/
}

.scene {
    width: 100%;
    /*height: 260px;*/
    margin: 40px 0;
    perspective: 600px;
}

.betCard {
    width: 100%;
    height: 100%;
    max-width: 150px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

    .betCard.is-flipped {
        transform: rotateY(180deg);
    }

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*line-height: 260px;*/
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.card__face--front {
  background: transparent;
}

.card__face--back {
  background: transparent;
  transform: rotateY(180deg);
}

.img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}


.notEqual {
    padding-top: 180px;
    font-size: 100px;
}

@media (min-width: 1600px) {
    .playground {
        height: 700px;
        padding-top: 200px;
    }
}

@media (max-width: 1599px) {
    .playground {
        height: 400px;
        padding-top: 10px;
    }
}

    @media (max-width: 767px) {
        .playground {
            height: 300px;
            padding-top: 10px;
        }

        .winchance-btn {
            font-size: 1em;
            padding: 10px;
        }

        .cardSpan {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    @media (max-width: 510px) {
        .playground-cards {
            height: 200px !important;
        }
    }











    /*.div-center {
    width: 100%;
    margin-left: 10%;
}

@media (min-width: 1880px) {
    .cardSpan {
        margin: 20px;
    }
    .div-center{
        width:50%;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .cardSpan {
        margin: 20px;
    }

    .div-center {
        width: 100%;
        margin: 20%;
    }
}

@media (max-width: 767px) {
    .cardSpan {
        float: left;
        width: 130px;
        margin: 3px;
    }
    .div-center {
        width: 100%;
        margin: 0 auto;
    }
}
*/



