
.overlayer {
    background: rgba(90, 82, 82, 0.79);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    color:yellow
}



a, a:hover, a:active{
    text-decoration:none;
}

.logo{
    height:200px;
}

.header {
    color: #0088cc;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 30px;
}

#startInfo{
    display:none;
}

.info {
    background: #f8f9fa;
    color: #000;
    padding: 2rem;
    height: 100%;
    font-size: 1em;
    border: 1px black solid;
    -webkit-border-vertical-spacing: 3px;
    box-shadow: 4px 3px 5px 3px rgb(0,0,0, 0.1);
}
.info > section {
   border: 1px #ddd solid;
   border-spacing: 30px;
   padding: 5px;
}

    #winchance-container {
        background: rgba(90, 82, 82, 0.79);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
.winchance-div {
    background: rgba(90, 82, 82, 0.79);
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 10rem;
    padding: 30px 1px 30px 1px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 .winchance-div > ul, .btn_container >ul {
    list-style-type: none;
    display: inline-flex;
    margin: 5px;
    cursor: pointer;
 }


.winchance-btn {
    display: block;
    padding: 40px;
    background: #fff;
    color: black;
    font-size: 1.5em;
    border: 1px solid #ddd;
    margin-left: 10px;
    border-radius: 5px;
}

.cash-sum {
    display: block;
    background: #fff;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 6px;
    width: 70px;
    color: black;
    text-align: center;
    box-shadow: inset 1px 1px 4px #000;
}

#moneyLable {
    display: inline-block;
    text-align: left;
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.play-btn {
    padding: 10px;
    background: #08c;
    border-width: 2px;
    border-style: none;
    border-color: buttonface;
    border-image: initial;
    border-radius: 50%;
    height: 70px;
    width: 70px !important;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    border-color: #333;
    border: 4px solid;
    font-size: 16px;
    font-weight: 600;
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: 5px;
}

.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-container {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
    padding: 15px;
}

#message-content {
    padding-top: 5rem;
    z-index: 1000;
}

.header {
    color: #0088cc;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 30px;
}

.playground {
    /*background: #000 url("/src/images/backgrounds/body_theme1.jpg") no-repeat center;*/
    background-size: cover;
 
}

.playground-cards, .playground-slot {
    /*background-color: rgba(221, 221, 221, 0.48);*/
    border-radius: 30px;
    display: block;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.game-panel {
    text-align: center;
    border-radius: 3px;
    background: #114959;
    padding-top: 10px;
    color: #fff;
    border: 2px solid rgba(221, 221, 221, 0.48);
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.game-panel > ul {
   list-style-type: none;
   display: inline-flex;
}

.round-button {
    height: 70px;
    width:70px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #609dcb 0%,#125ead 50%,#476cde 100%);
    color:white;
}

.game-panel > form > .round-button {
    margin-left: -20px;
}

#panel1 {
    width: 80px;
    float: left;
}

.hidden{
    display:none;
}

.first {
    height: 1%;
}

.col-xs-0,
.col-sm-0,
.col-md-0,
.col-lg-0 {
    flex: 0 0 0;
    max-width: 0;
}


@media (min-width: 1600px) {
    .playground-slot{
        margin-top:100px;
    }
}

@media (max-width: 767px) {
    .winchance-btn {
        font-size: 1em;
        padding: 10px;
    }
}
@media (max-width: 510px) {
    .playground-slot {
        height: 250px;
    }
}
@media (max-width: 320px) {
    #play-container {
        height: 400px;
    }
}



.winner > h1 {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

