html, body {
    min-height: 100%;
}

body {
    position: relative;
    /*-webkit-touch-callout: none; !* iOS Safari *!*/
    /*-webkit-user-select: none; !* Safari *!*/
    /*-khtml-user-select: none; !* Konqueror HTML *!*/
    /*-moz-user-select: none; !* Old versions of Firefox *!*/
    /*-ms-user-select: none; !* Internet Explorer/Edge *!*/
    /*user-select: none;*/
    /*!* Non-prefixed version, currently*/
    /*                                 supported by Chrome, Opera and Firefox *!*/
}


.header {
    color: #0088cc;
    padding-top: 25px;

    text-align: left;
    padding-left: 30px;
}

.overlayer {
    background: rgba(90, 82, 82, 0.79);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    color: yellow
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

.logo {
    height: 200px;
}


#startInfo {
    display: none;
}

.jackpot-info {
    width: 100%;
    padding: 40px;
    border: 2px;
    z-index: 100;
    border-style: solid;
    border-color: gray;
    position: relative;
    overflow: hidden;
}

.jackpot-info-background {
    background: url('/src/images/backgrounds/banner-background.png') 50% 50% no-repeat;
    
}

.jackpot-info-background:after {
    -webkit-animation: spin 60s linear infinite;
    -moz-animation: spin 60s linear infinite;
    animation: spin 60s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.info {
    background: #f8f9fa;
    color: #000;
    padding: 2rem;
    height: 100%;
    font-size: 1em;
    border: 1px black solid;
    -webkit-border-vertical-spacing: 3px;
    box-shadow: 4px 3px 5px 3px rgb(0, 0, 0, 0.1);
    max-width: 700px;
}

.info > section {
    border: 1px #ddd solid;
    border-spacing: 30px;
    padding: 5px;
}

/*---Layer for winning chance buttons*/
#winchance-container {
    background: rgba(90, 82, 82, 0.57);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.winchance-div {
    background: rgba(90, 82, 82, 0.79);
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 15%;
    padding: 30px 1px 30px 1px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.winchance-div > ul, .btn_container > ul {
    list-style-type: none;
    display: inline-flex;
    margin: 5px;
    cursor: pointer;
}


.winchance-btn {
    padding: 30px;
    background: #fff;
    color: black;
    font-size: 1.5em;
    border: 1px solid #ddd;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.31);
}

/*---Credits left*/
.cash-sum {
    display: block;
    background: #fff;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 6px;
    width: 70px;
    color: black;
    text-align: center;
    box-shadow: inset 1px 1px 4px #000;
}

#moneyLable {
    display: inline-block;
    text-align: left;
}

/*---buttons--*/
.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.play-btn {
    padding: 10px;
    background: #08c;
    border-width: 2px;
    border-style: none;
    border-color: buttonface;
    border-image: initial;
    border-radius: 50%;
    height: 70px;
    width: 70px !important;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    border-color: #333;
    border: 4px solid;
    font-size: 16px;
    font-weight: 600;
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: 5px;
}

#startPlay {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: 20vh;
    text-align: center;
    display: none;
    border: 1px solid #ddd;
    padding: 40px 20px 0 20px;
    border-radius: 2px;
}

.round-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #609dcb 0%, #125ead 50%, #476cde 100%);
    color: white;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

.spin {
    font-style: oblique;
    font-weight: 700;
    font-size: 26px;
    border: 4px solid silver;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.68);
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.28);
}

/*MULTIPLIER*/

.multiplyButton {
    box-shadow: 9px 4px 8px 1px rgba(0, 0, 0, 0.28);
    border-collapse: separate;
    margin-left: 120px;
    position: absolute;
    height: 50px;
    top: 28%;
    width: 50px;
    padding-bottom: 4px;

}

.multiplyButton input {
    display: none;

}

.multiplyButton label {
    display: inline;
    font-weight: bold;
    justify-content: center;
    top: 50%
}

/*JACKPOT BANNER*/
.jackpot-banner {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    background: url('/src/images/backgrounds/banner-background.png') 50% 50% no-repeat;
    background-size:cover;
    text-align: center;
    border-radius: 3px;
    padding-top: 0;
    padding-bottom: 10px;
    color: #fff;
    border: 2px solid rgba(221, 221, 221, 0.48);
    opacity: 0.98;
}

.x-sign {
    font-size: calc(1em + 2vmax);
    --interval: 1s;
    display: block;
    text-shadow: 0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(100%);
    animation: flicker steps(100) 3s infinite;
}

.x-sign > large {
    font-size: calc(2em + 4vmax);
}

.x-sign:nth-of-type(1) {
    color: yellow;
    --color1: yellow;
    --color2: lime;
    --color3: green;
    --color4: darkgreen;
    font-family: Monoton;
}


@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}

/*---Playground--*/
.div-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-container {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .3);
    padding: 15px;
}

.playground {

    background-size: cover;
}

.playground-cards, .playground-slot {
    /*background-color: rgba(221, 221, 221, 0.48);*/
    border-radius: 30px;
    display: block;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.game-panel {
    text-align: center;
    border-radius: 3px;
    background: #114959;
    padding-top: 10px;
    color: #fff;
    border: 2px solid rgba(221, 221, 221, 0.48);
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.game-panel > ul {
    list-style-type: none;
    display: inline-flex;
}

#winCredit {
    font-size: 2.3rem;
    color: #ffc107;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*---Layer for win --*/

#message-container {
    display: none;
}

#message-content {
    padding-top: 5rem;
    z-index: 1000;
}

.winner {
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url("/src/images/backgrounds/winCoins.png") no-repeat center center;*/
    background-size: contain;
    display: none;
}

.winner-content {
    position: fixed;
    box-sizing: border-box;
}

#message-content-win {
    padding-top: 5rem;
    z-index: 1000;
    /*background: url("/src/images/backgrounds/winCoins.png") no-repeat center center;*/
    background-size: contain;
}

.winner-inner {
    z-index: 1;
}

.winSpan {
    background: rgba(19, 19, 2, 0.55);
    border: 2px dotted rgba(255, 255, 0, 0.45098039215686275);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.9rem;
    font-weight: 600;
    color: #ecdd67;
    /*display: block;*/
}

.winSpanSpecial {
    display: block;
}

#piggySpan {
    display: none;
    color: #ecdd67;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
}

#piggySpan > img {
    height: 50px;
    width: 50px;
}

#btnCloseWin {
    margin-top: 20px;
}

/*- game panel*/
.game-panel > form > .round-button {
    margin-left: -1px;
}

#panel1 {
    width: 80px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 14px;
}

.zoom {
    width: 100%;
    height: 100%;
}


#intro {
    padding-top: 10%;
}

#introInfoText {
    padding: 20px 5px;
}


/*------StartPage--------*/

#start, #btnPlay {
    font-size: 1rem;
}

.question-container {
    padding-bottom: 40px;
}

.questionInfoBox {
    padding: 40px 10px 20px 10px;
    border-bottom: 3px solid #00338d;
    border-top: 3px solid #00338d;
    margin-bottom: 10px;
}

.radioButtonList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.radioButtonList.horizontal li {
    display: inline;
}

.radioButtonList label {
    display: inline;
    border: 2px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
}

.radioButtonList input {
    display: none;
}

.radioButtonList input:checked + label {
    background-color: #00338D;
    border-color: #9B9B9B;
    transition: 0.2s background;
    color: #fff;
}

.radioButtonList td {
    padding: 12px 0px;
}

.question {
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

.question:nth-of-type(odd) {
    background: #F7F7F7
}

fieldset {
    padding: 15px;
}

legend {
    font-weight: 500;
    margin-bottom: .9rem;
    padding-top: 15px;
    font-size: 1rem;
}

.countCredit {
    font-size: 1.5rem;
}

#value {
    font-weight: 900;
    font-size: 4rem;
}

.validationError {
    color: red;
}

/*End page*/

#endText {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/*Other*/
.admin-content {
    background: #ddd;
}

.hidden {
    display: none;
}

.first {
    height: 1%;
}

.col-xs-0,
.col-sm-0,
.col-md-0,
.col-lg-0 {
    flex: 0 0 0;
    max-width: 0;
}


/*Media*/
@media (min-width: 1600px) {
    .playground-slot {
        margin-top: 100px;
    }

    #message-container {
        padding-top: 15rem;
    }

}

@media (min-width: 1024px) {
    #start, #btnPlay {
        font-size: 1rem;
    }

    legend {
        font-size: 1.1rem;
    }

    .smallDev {
        max-width: 1200px;
        padding-right: 0;
        padding-left: 0;
    }

    #piggySpan {
        font-size: 1rem;
    }

    #piggySpan > img {
        height: 100px;
        width: 100px;
    }
}

@media (min-width: 767px) {
    #start, #btnPlay {
        font-size: 1rem;
    }

    legend {
        font-size: 1.1rem;
    }
}

@media (max-width: 767px) {

    .winchance-btn {
        font-size: 1em;
        padding: 10px;
    }

    .spin {
        height: 70px;
        width: 70px;
        font-size: 14px;
    }

    .multiplyButton {
        height: 35px;
        width: 35px;
        font-size: 7px;
        padding-bottom: 0px;
        margin-left: 80px;

    }

    .radioButtonList label {
        padding: 10px 5px;
        margin-right: 5px;
        font-size: 10px;
    }

    #startPlay {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        margin-left: 1px;
        margin-right: 5px;
        margin-top: 5vh;
        padding: 10px 20px 20px 20px;
    }

    fieldset {
        padding: 5px;
    }

    .header {
        text-align: center;
    }

    .header img {
        width: 50%;
    }
}

@media (max-width: 510px) {

    .playground-slot {
        height: 250px;
    }

    #message-content {
        padding-top: 10px;
    }
}

@media (max-width: 364px) {
    .multiplyButton {
        margin-left: -40px;
        padding-bottom: 0px;
    }
}

@media (max-width: 320px) {
    #play-container {
        height: 400px;
    }
}

@media screen and (max-height: 700px) and (max-width: 767px) {
    .info-content {
        position: absolute;
    }


    .winner {
        padding-top: 0;
    }

    .winner > img {
        height: 100px;
    }
}

@media screen and (max-height: 400px) {
    #message-content {
        padding-top: 1px;
    }
}


