body {
    background: #fff;
    background-size: cover;
}

.header {
    color: #0088cc;
}

#play-container {
    background: #fff;

}

.playground {
    /*background: #000 url("/src/images/backgrounds/body_theme1.jpg") no-repeat center;*/
    background-size: cover;
}

#play-container {
    background: green;
    border: 4px #332c10 solid;
    box-shadow: inset 2px 3px 9px 2px #000;
    /* height: 100%;
    max-height: 400px;*/
}

.playground-slot {
    padding-top: 20px;
    padding-bottom: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #dfdfdf), to(#cecece) );
    border: 1px solid black;
}



.game-panel {
    background: #ddd;
}

.game-panel > ul {
    list-style-type: none;
    display: inline-flex;
}

@media (max-width: 510px) {
    .playground-slot {
        height: 250px;
    }
}



