body {
    font-size: 16px;
    background-size: 100% auto;
    color: whitesmoke;
    background: url("src/images/bg-caribbean.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#roulette-wrapper {
    background: green;
    box-sizing: unset;
    padding-top: 15px;
    padding-left: 15px;
    max-width: 800px;
}
#roulette-ul {
    border: 4px #332c10 solid;
    box-shadow: inset 2px 3px 9px 2px #000;
    padding-right: 20px;
    padding-left: 0px;
}
#roulette-ul > li:first-of-type {
  border-right: 4px lightgreen solid;
  padding-right: 20px;
  padding-left: 0px;
}
#roulette-ul > li {
  padding: 5px;
}
  
    #btnBlack {
        background: black;
    }

#btnRed {
    background: #a90329;
}

#btnBlack, #btnRed {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 0px;
    color:#fff;
    margin-left: 20px;
}

#moneyLable{
    position: absolute;
    right: 5px;
    bottom: 5px;
}




@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        background-size: cover;
    }
    .container {
        padding-top: 0;
        height: 85vh;
    }
    .spinner-container {
        padding: 10px;
        padding-top: 20px;
    }
    #roulette-wrapper {
        border-radius: 20px;
        border-top-left-radius: 48% 24%;
        border-top-right-radius: 50% 25%;
        height: inherit;
        max-width: 800px;
    }
    .spinner {
        font-size: 0.97em;
    }
    .btn_container p {
        padding-left: 1em;
    }
    #btnSpin {
        margin-top: 0.2em;
    }
}

@media (max-width: 992px) {
    .spinner {
        font-size: 0.67em;
    }
}

    @media (max-width: 812px) {
        body, .row, .container, #roulette-wrapper {
            padding-right: 0px;
            padding-left: 0px;
            max-width: 100%;
        }

        #roulette-wrapper {
            font-size: 14px;
            text-align: center;
        }

        .spinner {
            font-size: 0.67em;
        }

        .spinner-container {
            padding: 10px;
            padding-top: 0px;
        }
    }

    @media (max-width: 567px) {
        .spinner-container {
            font-size: 0.77em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spinner {
            font-size: 0.67em;
        }

        #roulette-wrapper {
            padding-left: 1px;
        }
    }

    @media (max-width: 320px) {
        .spinner-container {
            font-size: 0.77em;
        }
    }

