body {
    font-size: 16px;
    background: url(http://localhost:59745/src/images/bg-caribbean.jpg) no-repeat center center fixed;
    background-size: 100% auto;
    color: whitesmoke;
    background-size: cover;
}

 #winnerAnnouncer{
  top: 0;
  left: 0;
  color: yellow;
}

#firstShow {
    background: mediumaquamarine;
    border-color: seagreen;
    opacity: 0.86;
}

#roulette-wrapper {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/138980/184983947.jpg) green;
    box-sizing: unset;
}

#roulette-wrapper .btn_container {
    padding-top: 10px;
}


 #btnBlack{
   background: greenyellow;
   color: black;
 }

 #btnRed{
   background: lemonchiffon;
   color: red;
 }
 
 #btnSpin {
     background: sandybrown;
     color: black;
     padding: 20px 50px;
     font-size: 3em;
 }

 #btnSpin:hover:enabled {

 }

 #btnSpin:focus:enabled {

 }
