 body {
  font-size: 16px;
  background-image: url('/src/images/bg.png');
  background-repeat: repeat;
  color: whitesmoke;
 }

 #winnerAnnouncer{
  top: 50%;
  left: 30%;
  color: #f88c06;
}

#firstShow {
    background: gray;
}

#roulette-wrapper {
    background: green;
}

 #btnBlack{
   background: black;
 }

 #btnRed{
   background: #a90329;
 }
