
div.roulette {
    margin-top: 5px;
}
div.roulette-inner {
	left : 1px;
}

div.roulette_container {
    background-color: #f8f9fa;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(253, 252, 253, 0.31);
    box-shadow: inset 1px 1px 4px #000;
    margin: auto;
    border-radius: 7px;
}

.slotSpan {
    float: left;
    max-width: 210px;
    padding-right: 1px;
    padding-left: 1px;
}

#play-container {
    height:100%;
}


.playground {
    padding-top: 0px;
}

.playground-inner {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 30px;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #dfdfdf), to(#cecece) );
    border: 1px solid black;
}



@media (max-width: 996px) {
    div.roulette_container {
        width: 110px;
        height: 110px;
    }

    div.roulette-inner {
        left: 1px;
    }

    div.roulette {
        margin-top: 1px;
    }

    .playground-slot {
        padding-right: 1px;
        padding-left: 1px;
        height: 150px;
    }

    .playground {
        height: 200px;
        padding-top: 10px;
        padding-right: 1px;
        padding-left: 1px;
    }

    .div-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .header {
        padding-top: 1px;
    }
}



@media (max-width: 510px) {
    div.roulette_container {
        width: 80px;
        height: 80px;
    }
    div.roulette-inner {
        left: 1px;
    }
    div.roulette {
        margin-top: 1px; 
    }
    .playground-slot {
        padding-right: 1px;
        padding-left: 1px;
        height: 150px;
    }
    .playground {
        height: 200px;
        padding-top: 10px;
        padding-right: 1px;
        padding-left: 1px;
    }
    .div-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .header {
        padding-top:1px;
    }
 }


@media (min-width: 1600px) {
    .playground {
        height: 700px;
        padding-top: 0px;
    }
}

@media (max-width: 1599px) {
    .playground {
        height: 500px;
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .playground {
        height: 500px;
        padding-top: 10px;
    }

    .winchance-btn {
        font-size: 1em;
        padding: 10px;
    }

    .slotSpan {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 510px) {
    .playground-cards {
        height: 200px !important;
    }
    #main-container, .slotSpan {
        padding-right: 5px;
        padding-left: 5px;
    }
    .playground {
        height: 500px;
        padding-top: 10px;
    }
    #play-container {
        border: 15px solid transparent;
    }
    height: 250px;
    .playground-slot {
    }

}

@media (max-width: 320px) {
    .playground-inner {
        padding: 0px;
    }
}

