body {
	padding-top: 60px;
	padding-bottom: 40px;
}
div.roulette {
	margin-top: 5px;
}
div.roulette-inner {
	left : 3px;
}

div.roulette_container {
    background-color: #f8f9fa;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(253, 252, 253, 0.31);
    box-shadow: inset 1px 1px 4px #000;
    margin: auto;
    border-radius: 7px;
}

@media (max-width: 510px) {
    div.roulette_container {
        width: 80px;
        height: 80px;
    }
    div.roulette-inner {
        left: 1px;
    }
    div.roulette {
        margin-top: 1px; 
    }
    .playground-cards {
        padding-right: 1px;
        padding-left: 1px;
        height: 150px;
    }
    .playground {
        height: 200px;
        padding-top: 10px;
        padding-right: 1px;
        padding-left: 1px;
    }
    .div-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .header {
        padding-top:1px;
    }
 }


