
body {
    background: url("https://static8.depositphotos.com/1013869/950/v/950/depositphotos_9505901-stock-illustration-casino-card-with-diamond-poker.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    color: #0088cc;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 30px;
}

#play-container {
    background: rgba(175, 72, 72, 0.6784313725490196);
    }

.playground-slot {
    padding-top: 20px;
    padding-bottom: 10px;
}

.game-panel {
    background: rgba(224, 181, 106, 0.5803921568627451);
}


.round-button {
    background: linear-gradient(to bottom, #c77e7b 0%,#903532 50%,#5d120d 100%);
    background-size: contain;
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
}



