body {
    background: #000;
    background-size: cover;
}

.header {
    color: #0088cc;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 30px;
}

.playground {
    background: #000 url("/src/images/backgrounds/body_theme1.jpg") no-repeat center;
    background-size: cover;
    
}

.playground-slot {
    border-radius: 30px;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #dfdfdf), to(#cecece) );
    border: 1px solid black;
}

.game-panel {
    text-align: center;
    border-radius: 3px;
    background: #114959;
    padding-top: 15px;
    color: #fff;
    border: 2px solid rgba(221, 221, 221, 0.48);
   margin-top:15px;
}

    .game-panel > ul {
        list-style-type: none;
        display: inline-flex;
    }

