body {
    background: #000;
    background-size: cover;
}


body {
    background: url("/src/images/backgrounds/body_theme1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    color: #0088cc;
}

.playground {
    /*background: #000 url("/src/images/backgrounds/body_theme1.jpg") no-repeat center;*/
    background-size: cover;
}

#play-container {
    background: #151313ad;
    padding-top: 5%;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
    border: 30px solid transparent;
    padding: 15px;
    border-image-source: url(/src/images/frameTest.png);
    border-image-repeat: round;
    border-image-slice: 90;
    border-image-width: 30px;
}

.playground-slot {
    border-radius: 30px;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #dfdfdf), to(#cecece) );
    border: 1px solid black;
}



.game-panel {
    background: #114959;
    color: #fff;
    border: 2px solid rgba(221, 221, 221, 0.48);
}

.game-panel > ul {
    list-style-type: none;
    display: inline-flex;
}

@media (max-width: 510px) {
    #play-container {
        border: 15px solid transparent;
        border-image-source: url(/src/images/frameTest.png);
        border-image-repeat: round;
        border-image-slice: 90;
        border-image-width: 15px
    }

    .playground-slot {
        height: 250px;
    }
}

@media (max-width: 320px) {
    #play-container {
        border: 2px solid transparent;
        border-image-source: url(/src/images/frameTest.png);
        border-image-repeat: round;
        border-image-slice: 90;
        border-image-width: 15px
    }
}

