body {
    background: url("/src/images/backgrounds/body_theme1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    color: #0088cc;
}

#play-container {
    background: #151313ad;
    padding-top: 5%;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
    border: 30px solid transparent;
    padding: 15px;
    border-image-source: url(/src/images/frameTest.png);
    border-image-repeat: round;
    border-image-slice: 90;
    border-image-width: 30px;
}

.playground {
    /*background: #000 url("/src/images/backgrounds/body_theme1.jpg") no-repeat center;*/
    background-size: cover;
}

#play-container {
    background: #151313ad;
    padding-top: 5%;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3);
    border: 30px solid transparent;
    padding: 15px;
    border-image-source: url(/src/images/frameTest.png);
    border-image-repeat: round;
    border-image-slice: 90;
    border-image-width: 30px;
}

.playground-slot {
    padding-top: 20px;
    padding-bottom: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #dfdfdf), to(#cecece) );
    border: 1px solid black;
}



.game-panel {
    background: #114959;
}

.game-panel > ul {
    list-style-type: none;
    display: inline-flex;
}

@media (max-width: 510px) {
    #play-container {
        border: 15px solid transparent;
        border-image-source: url(/src/images/frameTest.png);
        border-image-repeat: round;
        border-image-slice: 90;
        border-image-width: 15px
    }

<<<<<<< HEAD
    .playground-slot {
        height: 250px;
    }
}

@media (max-width: 320px) {
    #play-container {
        border: 2px solid transparent;
        border-image-source: url(/src/images/frameTest.png);
        border-image-repeat: round;
        border-image-slice: 90;
        border-image-width: 15px
    }
=======
.round-button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #609dcb 0%,#125ead 50%,#476cde 100%);
    color: white;
>>>>>>> 21a12813bf190bf6b384329a9234e3282884d990
}

