body {
    background: url("/src/images/backgrounds/body_theme_black.png") no-repeat center center fixed;
    background-size: cover;
}


#play-container {
    background: rgba(245, 243, 243, 0.47058823529411764);
    border: 4px #222222 solid;
}

.playground-slot {
    padding-top: 20px;
    padding-bottom: 10px;
}

.game-panel {
    background: rgba(213, 206, 194, 0.5803921568627451);
}


.round-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("/src/images/slot/spin_btn_gold.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* Hide the text. */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    border:none;
}
