
body {
    background: url("https://static8.depositphotos.com/1013869/950/v/950/depositphotos_9505901-stock-illustration-casino-card-with-diamond-poker.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    color: #0088cc;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 30px;
}

#play-container {
    background: #af4848ad;
 }

.playground-slot {
    padding-top: 20px;
    padding-bottom: 10px;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #dfdfdf), to(#cecece) );
    border: 1px solid black;*/
}

.game-panel {
    background: #e0b56a94;
}

    .game-panel > ul {
        list-style-type: none;
        display: inline-flex;
    }

.round-button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #c77e7b 0%,#903532 50%,#5d120d 100%);
    background-size: contain;
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
}
/*.round-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("/src/images/slot/spin_btn_gold.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}*/


