body {
    background: url("/src/images/backgrounds/body_theme_casino.png") no-repeat center center fixed;
    background-size: cover;
}

.header {
    color: #0088cc;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    padding-left: 30px;
}

#play-container {
    background-image: url("/src/images/backgrounds/container_theme_slot.png");
    background-size: contain;
    border: 30px solid transparent;
}

.playground-slot {
    padding-top: 20px;
    padding-bottom: 10px;
      /*background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.5, #dfdfdf), to(#cecece) );
    border: 1px solid black;*/
}

.game-panel {
    background: #a61571b5;
}

    .game-panel > ul {
        list-style-type: none;
        display: inline-flex;
    }

.round-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("/src/images/slot/spin_btn_casino.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* Hide the text. */
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    border:none;
}
