USE [SU_Casino]
GO
/****** Object:  Table [dbo].[matris]    Script Date: 2018-08-09 11:32:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matris](
	[prop_n] [nchar](10) NULL,
	[condition] [varchar](50) NULL,
	[seq] [int] NULL,
	[trials] [int] NULL,
	[name] [varchar](50) NULL,
	[saldo] [int] NULL,
	[prob_S0] [float] NULL,
	[perc_S0] [float] NULL,
	[perc_S1] [float] NULL,
	[S1_variant] [varchar](50) NULL,
	[perc_S2] [float] NULL,
	[perc_S3] [float] NULL,
	[perc_S4] [float] NULL,
	[bet_R1] [int] NULL,
	[bet_R2] [int] NULL,
	[bet_R3] [int] NULL,
	[bet_B4] [int] NULL,
	[if_R1] [varchar](50) NULL,
	[if_R2] [varchar](50) NULL,
	[if_R3] [varchar](50) NULL,
	[if_R4] [varchar](50) NULL,
	[prob_O1] [float] NULL,
	[prob_O2] [float] NULL,
	[win_O1] [int] NULL,
	[win_O2] [int] NULL,
	[ifS1win] [varchar](50) NULL,
	[ifS2win] [varchar](50) NULL,
	[ifS3win] [varchar](50) NULL,
	[ifS4win] [varchar](50) NULL,
	[ifS1probX] [int] NULL,
	[ifS2probX] [int] NULL,
	[hide] [varchar](50) NULL,
	[freeze_win] [varchar](50) NULL,
	[RowID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[matris] ON 

INSERT [dbo].[matris] ([prop_n], [condition], [seq], [trials], [name], [saldo], [prob_S0], [perc_S0], [perc_S1], [S1_variant], [perc_S2], [perc_S3], [perc_S4], [bet_R1], [bet_R2], [bet_R3], [bet_B4], [if_R1], [if_R2], [if_R3], [if_R4], [prob_O1], [prob_O2], [win_O1], [win_O2], [ifS1win], [ifS2win], [ifS3win], [ifS4win], [ifS1probX], [ifS2probX], [hide], [freeze_win], [RowID]) VALUES (N'0.125     ', N'one.one', 1, 1, N'Roulette', 1000, 0.2, 1, 0, NULL, 0, 0, 0, -500, -500, NULL, NULL, N'O1', N'O1', NULL, NULL, 0.5, NULL, 1500, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'no', NULL, 1)
INSERT [dbo].[matris] ([prop_n], [condition], [seq], [trials], [name], [saldo], [prob_S0], [perc_S0], [perc_S1], [S1_variant], [perc_S2], [perc_S3], [perc_S4], [bet_R1], [bet_R2], [bet_R3], [bet_B4], [if_R1], [if_R2], [if_R3], [if_R4], [prob_O1], [prob_O2], [win_O1], [win_O2], [ifS1win], [ifS2win], [ifS3win], [ifS4win], [ifS1probX], [ifS2probX], [hide], [freeze_win], [RowID]) VALUES (N'          ', N'one.one', 2, 5, N'Instrumental_acq', 0, 0.2, 0, 0, N'', 0, 0, 0, -10, -20, 0, 0, N'O1', N'O2', N'', N'', 0.2, 0.2, 100, 50, N'', N'', N'', N'', 0, 0, N'no', N'', 2)
INSERT [dbo].[matris] ([prop_n], [condition], [seq], [trials], [name], [saldo], [prob_S0], [perc_S0], [perc_S1], [S1_variant], [perc_S2], [perc_S3], [perc_S4], [bet_R1], [bet_R2], [bet_R3], [bet_B4], [if_R1], [if_R2], [if_R3], [if_R4], [prob_O1], [prob_O2], [win_O1], [win_O2], [ifS1win], [ifS2win], [ifS3win], [ifS4win], [ifS1probX], [ifS2probX], [hide], [freeze_win], [RowID]) VALUES (NULL, N'one.one', 3, 4, N'Pavlovian_acq', NULL, 0.2, 0, 0.25, N'A', 0.25, 0.25, 0.25, -10, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0.4, 0.2, 20, 20, N'O1', N'O1', N'O2', N'O2', 1, 1, N'no', NULL, 3)
SET IDENTITY_INSERT [dbo].[matris] OFF
